.App {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 5px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 107px;
  padding-top: 15px;
}

#log{
  margin-right: 10px;
}
.nav{
  display: flex;
  flex-direction: row;  
  padding-right: 100px;
}
.nav #Link{
  text-decoration: none;
  margin-right: 38px;
  font-family: system-ui;
  font-size: 20px;
  line-height: 125%;
  color: #292F36;
}
.main{
  width: 1141px;
  height: 720px;
   border-radius: 70px; 
  background-size:contain ; 
   background: url("./img/Photo.png");
  /* background: #292F36; */
 background-repeat: no-repeat;
 background-size: contain;
  margin-left: 105px;
  margin-top: 110px;
}

.home{
  /* position: absolute; */
   width: 420px;
   display: flex;
   flex-direction: column;
   margin-left: 50px;
 /* height: 720px; */
  /* left: 80px;
  top: 110px; */
}
.home h1{
  font-size: 63px;
  font-family: DM Serif Display;
  margin-top: 200px;
}
.home p{
  font-size: 20px;
  font-family: system-ui;
  margin-top: -20px;
}
.home a{
  text-decoration: none;
}
.home button{
  padding: 26px 48px;
  border-radius: 18px;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  background: #292F36;
  line-height: 125%;
  width: 220px;
  color: white;
  font-size: 18px;
  
  font-family: system-ui;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 10px;
}
.home button:hover{
  background-color: chocolate;
  transition: 1s;
  color: black;
}
#arr{
  margin-left: 5px;
}
/* ------work-------   */
.work{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* gap:30px; */
  width: 1117px;
  margin-left: 115px;
  margin-top: 130px;
}
#proj{
  text-align: center;
  width:370px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#proj h1{
  font-size: 25px;
  font-family: serif;
}
#proj p{
  width:320px;
  font-size: 20px;
  font-family: jost ;
  margin-top: 10px;
  line-height: 25px;
  word-spacing: 3px;
}
#w{
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 125%;
}
#w a{
  font-size: 18px;
}
/* ---------about----------------- */
/* -------about---------- */
.about{
  display: flex;
  flex-direction: row;
  width: 1141px;
  margin-left: 110px;
  margin-top: 100px;
}
.abt_content{
  display: flex;
  flex-direction: column;
  
}
.abt_content h1{
  font-size: 50px;
  width: 410px;
  font-family: serif;
}
.abt_content p{
  font-family: system-ui;
    width: 458px;
    font-size: 22px;
}
.about #img{
  width: 615px;
  height: 680px;
  margin-left: 80px;
  border-top-right-radius: 320px;
  border-bottom-left-radius: 123px;
}
.call{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
    /* top: -250px;  */
  line-height: 125%;
  margin-top: 35px;
}
.call img{
  width: 80px;
  height: 75px;
}
#ell{
  position: absolute;
}
#pho{
  position: absolute;
  left: 25px;
  margin-top: 10px;
  width: 30px;
  height: 50px;
}
.call h4{
  position: absolute;
  left: 96px;
  font-size: 23px;
  top: -22px;
}
.call h6{
  position: absolute;
  left: 98px;
  top: -15px;
  font-family: system-ui;
  font-size: 22px;
  font-weight: 100;
}
.abt_content button{
  padding: 20px 40px;
  border-radius: 18px;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  background: #292F36;
  line-height: 125%;
  width: 230px;
  height: 75px;
  color: white;
  font-size: 15px;
  font-family: system-ui;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
  margin-top: 115px;
}
.abt_content button:hover{
  background: chocolate;
  color: black;
  transition: 1s;
}
/* --------------------TESTIMONIAL------------- */
.testi{
  width: 1155px;
  height: 670px;
  background: #F4F0EC;
  margin-left: 110px;
  margin-top: 250px;
  border-radius: 70px;
}
.testi h1{
  font-size: 50px;
font-family: 'DM Serif Display';
width: 515px;
text-align: center;
font-weight: 400;
letter-spacing: 0.5px;
padding-top: 100px;
padding-bottom: 15px;
}
.details{
  display: flex;
  flex-direction: row;
  gap:30px;
  margin-left: 22px;
}

#pers1{
  background: white;
  width: 350px;
  height: 340px;
  border-radius:35px;
}
#u1{
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  display: flex;
  justify-content: center;
}
#usr{
  border-radius: 50%;
  height: 90px;
}
#pers1 h5{
  font-size: 25px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: serif;
}
#pers1 span{
  font-size: 20px;
    font-weight: 100;
    margin-top: -40px;
}
#pers1 p{
  font-size: 20px;
  width: 305px;
  margin-left: 40px;
  margin-top: 0px;
}
/* ---------------client------------------- */
.client{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-left: 130px;
  margin-bottom: 130px;
}
.client img{
  width: 140px;
  height: 70px;
  margin-right: 100px;
}
/* --------project---------------- */
.project{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project h1{
  font-size: 50px;
  font-family: serif;
  margin-top: 60px;
}
.project p{
  width: 750px;
  text-align: center;
  margin-top: -12px;
  font-family: system-ui;
  letter-spacing: 0.5px;
  font-size: 19px;
}
#prj_img{
display: flex;
gap: 110px;
justify-content: center;
margin-top: 110px;
}
#prj_img img{
  width: 500px;
  height: 500px;
  display: flex;
}
#img_2{
  margin-left: 20px;
}
#h1{
  font-size: 25px;
  font-family: serif;
  margin-left: 105px;
  margin-top: 25px;
}
#h5{
  margin-left: 105px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 100;
  margin-top: -7px;
  letter-spacing: 0.5px;
}
#vec{
  position: relative;
  top: -100px;
  left: 530px;
 
}
#vec img{
     width: 70px; 
     height: 70px;
}
.modern{
  position: relative;
  top: -200px;
  left: 630px;
}
/* ------------------------------------ */
.second_img{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-top: 100px;
  margin-left: 10px;
}
.second_img img{
width: 500px;
height: 500px;
}
#two{
  margin-top: -50px;
  margin-bottom: 150px;
}
#vector{
  width: 70px;
  height: 70px;
  position: relative;
  top: -100px;
  left: 430px;
}
#hh1{
  font-size: 25px;
  font-family: serif;
  margin-left: 0px;
  margin-top: 25px;
}
#hh5{
  margin-left: 0px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 100;
  margin-top: -7px;
  letter-spacing: 0.5px;
}
/* ------------counter-------------- */
.counter{
  background: #F4F0EC;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.one h1{
  font-size: 70px;
  font-family: 'DM Serif Display';
  color: #CDA274;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  letter-spacing: 0.5px;
}

.one h4{
  font-size: 20px;
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-top: -40px;
}
#line{
  border :1px solid #CDA274;
  height: 130px;
  margin-top: 35px;
}
.two h1{
  font-size: 70px;
  font-family: 'DM Serif Display';
  color: #CDA274;
  line-height: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  letter-spacing: 0.5px;
}
.two h4{
  font-size: 20px;
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-top: -40px;
}
/* -----------------------article------------------ */
.article{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin-top: 90px;
}
.article h1{
  font-size: 50px;
  font-family: serif;
  font-weight: 600;
}
.article h6{
  font-size: 20px;
  font-family: system-ui;
  width: 800px;
  font-weight: 400;
  text-align: center;
  margin-top: -10px;
}
/* ------------------blog------------ */
.blog{
  margin-left: -30px;
  display: flex;
  gap: 55px;
  width: 1097px;
  height: 520px;
}
.blog_1{
width: 360px;
height: 520px;
border: 1px solid #E7E7E7;
border-radius: 62px;
display: flex;
flex-direction: column;
}
.blog_1 img{
  width: 318px;
  height: 289px;
  padding: 21px;
}
.blog_1 h2{
  font-weight: 400;
  font-family: serif;
  font-size: 24px;
  width: 218px;
  height: 70px;
  padding-left: 21px;
  text-align: left;
  margin-top: -5px;
}
.blog_1 h6{
  text-align: left;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 21px;
}
.blg_2{
 background: #F4F0EC; 
}
.blg_2 h2{
  width: 250px;
}
.blg_3 h2{
  width: 300px;
}
#v{
  position: relative;
    width: 50px;
    height: 50px;
    top: -95px;
    left: 130px;
}
#vect{
  position: relative;
    width: 50px;
    height: 50px;
    top: -95px;
    left: 130px;
}
/* -------------contact-------------------------- */
.contact{
  background: #292F36;
  height:375px;
  width: 1135px;
  margin-top: 230px;
  padding-top: 70px;
  margin-left: 107px;
  border-radius: 70px;
}
.contact h1{
  display: flex;   
  justify-content: center;
  color: #FFFFFF;
  font-family: serif;  
  font-size: 50px;

}
.contact h5{
  display: flex;   
  justify-content: center;
  color: #FFFFFF;
  font-size: 18px;   
  font-family: system-ui;    
  font-weight: 400;
}
.contact a{
  text-decoration: none;
}
.contact button{
  display: flex;   
  justify-content: center;
  padding: 26px 37px;
  height: 75px;
  width:230px;
  font-family: system-ui; 
  font-size: 18px;
  background: #CDA274;
  color: #FFFFFF;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 600;
}
#arw{
  color:#292F36;
}
/* ----------------Footer----------------------- */
.footer{
  margin-top: 260px;
}
.foot{
  display: flex;
  flex-direction: row;
  width: 1135px;
  height: 577px;
  margin-left: 107px;
  /* background: #ddd; */
  gap:122px;
}
#interno img{
  width:140px;
  height: 40px;
  margin-top: 10px;
}
#icon{
  display: flex;
  gap: 40px;
}
#icon #fb {
  width:12px;
  height: 20px;
}
#icon #twt {
  width:18px;
  height: 18px;
}
#icon #ln {
  width:18px;
  height: 18px;
}
#icon #ins {
  width:18px;
  height: 18px;
}
#interno h5{
  width: 350px;
  font-size: 20px;
  font-family: system-ui;
  font-weight: 200;
  margin-top: 10px;
}

.pages h2{
  font-size: 20px;
  font-family: serif;
  width: 60px;
}
.pages h5{
  font-family: system-ui;
  font-weight: 200;
  font-size: 20px;
  width: 105px;
  margin-top: 24px;
}
.pages h5 a{
  text-decoration: none;
}
.service h2{
  font-size: 20px;
  font-family: serif;
  width: 60px;
}
.service h5{
  font-family: system-ui;
  font-weight: 200;
  font-size: 20px;
  width: 103px;
  margin-top: 24px;
}
.foot_cont h2{
  font-family: serif;
  font-size: 25px;
  width: 100px;
}
.foot_cont h5{
  width: 210px;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 300;
  margin-top: -7px;
}
#copy{
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  line-height: 125%;
  font-family: system-ui;
  letter-spacing: 0.5px;
  margin-top: -30px;
  margin-bottom: 40px;
}
/* -----------------About-Banner-- */
.about_ban{
  background: url(img/About_banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 360px;
  margin-top: 50px;
}
.quote{
  width: 940px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 198px;
  margin-top: 50px;
}
.quote img{
  width: 190px;
  height:370px
}
#q{
  display: flex;
  flex-direction: column;
}
#q h3{
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  width: 330px;
}
#q img{
  width: 25px;
  height: 22px;
}
.quote h1{
  text-align: center;
  font-size: 25px;
  font-family: serif;
  width: 465px;
  font-style: italic;
  padding: -99px;
  margin-left: -60px;
  margin-right: -60px;
}
/* -------------we--do--------------- */
.we_do{
  width: 1370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.we_do h1{
  font-family: serif;
  font-size: 42px;
}
.we_do p{
  width: 375px;
  font-family: system-ui;
  font-size: 18px;
}
.we_do button{
  padding: 26px 40px;
  border-radius: 18px;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  background: #292F36;
  line-height: 125%;
  width: 200px;
  height: 70px;
  color: white;
  font-size: 18px;
  font-family: system-ui;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 10px;
}
.we_do img{
  width: 475px;
  height: 270px;
}
.we_do_2{
  margin-top: 120px;
}
/* -------------Employee------------------ */
.employee{
  background: #F4F0EC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 970px;
  margin-top: 150px;
}
.employee h1{
  font-family: serif;
  font-size: 45px;
  text-align: center;
  width: 530px;
  font-weight: 500;
  margin-bottom: 50px;
}
.emp {
  display: flex;
  gap: 30px;
}
.emp img{
  border-radius: 30px;
  width: 285px;
  height: 435px;
}
/* ---------------form------------------------------- */
.form_head{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}
.form_head h1{
  font-family: serif;
  font-size: 40px;
  width: 490px;
  text-align: center;
}
.form{
  margin-top: 70px;
}
.input{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.form input{
  width: 370px;
  border: none;
  border-bottom: 1px solid #000000; 
}
.subject{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subject input{
  height: 175px;
  width: 795px;
  border-bottom: 1px solid #000000;
}
#f_b{
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms button{
  padding: 26px 40px;
  border-radius: 18px;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  background: #292F36;
  line-height: 125%;
  width: 185px;
  height: 65px;
  color: white;
  font-size: 18px;
  font-family: system-ui;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 80px;
}
/* ----------------Footer----------------------- */
.footer{
  margin-top: 260px;
}
.foot{
  display: flex;
  flex-direction: row;
  width: 1135px;
  height: 577px;
  margin-left: 107px;
  /* background: #ddd; */
  gap:122px;
}
#interno img{
  width:140px;
  height: 40px;
  margin-top: 10px;
}
#icon{
  display: flex;
  gap: 40px;
}
#icon #fb {
  width:12px;
  height: 20px;
}
#icon #twt {
  width:18px;
  height: 18px;
}
#icon #ln {
  width:18px;
  height: 18px;
}
#icon #ins {
  width:18px;
  height: 18px;
}
#interno h5{
  width: 350px;
  font-size: 20px;
  font-family: system-ui;
  font-weight: 200;
  margin-top: 10px;
}

.pages h2{
  font-size: 20px;
  font-family: serif;
  width: 60px;
}
.pages h5{
  font-family: system-ui;
  font-weight: 200;
  font-size: 20px;
  width: 105px;
  margin-top: 24px;
}
.pages h5 a{
  text-decoration: none;
}
.service h2{
  font-size: 20px;
  font-family: serif;
  width: 60px;
}
.service h5{
  font-family: system-ui;
  font-weight: 200;
  font-size: 20px;
  width: 103px;
  margin-top: 24px;
}
.foot_cont h2{
  font-family: serif;
  font-size: 25px;
  width: 100px;
}
.foot_cont h5{
  width: 210px;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 300;
  margin-top: -7px;
}
#copy{
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  line-height: 125%;
  font-family: system-ui;
  letter-spacing: 0.5px;
  margin-top: -30px;
  margin-bottom: 40px;
}
/* ------------services-------------------------------- */
.service_ban{
  background: url('img/service_ban.jpg');
  height: 360px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1350px;
    gap: 25px;
    margin-top: 105px;
}
.service_one h1{
  font-family: serif;
  font-size: 25px;
  text-align: center;
}
.service_one p{
  font-family: system-ui;
  font-size: 18px;
  text-align: center;
  width: 315px;
  letter-spacing: 0.5px;
    word-spacing: 2px;
}
.service_one .but{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.service_one .but button{
  border: none;
  background: none;
  font-family: system-ui;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-top: 30px;
}
/* -----------------serv_2---------------- */
.serv_2{
  margin-top: 90px;
  height: 370px;
}
.serv_5{
  padding-top: 60px;
  padding-bottom: 60px;
}
.five{
  background: #F4F0EC;
  border-radius: 30px;
}
/* ---------Our--Work------------------------ */
.our_work_1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 190px;
}
.our_work{
  width: 1110px;
  height: 2800px;
  background-color: #F4F0EC;
  border-radius: 70px;
}
.our_work h1{
  font-family: serif;
  font-size: 45px;
  text-align: center;
  padding-top: 135px;
}
.our_work p{
  font-size: 20px;
  font-family: system-ui;
  width: 735px;
  text-align: center;
}
/* --------POster------------------- */
.poster{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  margin-left: 16px;
  margin-top: 110px;
}
.post_img img{
  width: 420px;
  height: 470px;
}
.post{
  margin-top: 55px;
}
.post h2{
  margin-left: 15px;
  margin-top: 50px;
  font-size: 33px;
  font-family: serif;
  color: #292F36;;
}
.post p{
  width: 415px;
  text-align: left;
  margin-left: 15px;
  margin-top: -10px;
  font-size: 19px;
  letter-spacing: 0.5px;
}
.ico{
  display: flex;
}
#icon{
  width: 90px;
  height: 80px;
  margin-bottom: 18px;
  margin-left: 15px;
}
#i{
  width: 90px;
  height: 80px;
  margin-left: 218px;
}
/* ---------project----------------------------- */
.project_banner{
  background: url(img/project_ban.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 360px;
  margin-top: 50px;
}
.project_banner img{
  width: 410px;
  height: 130px;
  margin-top: 121px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.content_2{
  border: 1px solid black;
  width: 710px;
  display: flex;
  height: 55px;
  padding-bottom: -34px;
  margin-bottom: -43px;
  gap: 70px;
  justify-content: space-around;
  border-radius: 18px;
}
.content_2 p{
  width: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -0px;
  margin-bottom: -0px;
  text-align: center;
  font-weight: 500;
}
.content_2 p:hover{
  background: #CDA274;
  border-radius: 18px;
}
/* --------Gallery--------------------------------- */
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

#gall_1 img{
  width: 470px;
  height: 700px;
  position: absolute;
  top: 95%;
  left: 15%;
}
#gall_1 #head{
  position: absolute;
  top: 199%;
  left: 15%;
}
#head h1{
  font-size: 25px;
  font-family: serif;
}
#head h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ------------------------------------------ */
#gall_2 img{
  width: 470px;
  height: 400px;
  position: absolute;
  left: 52%;
  top: 95%;
}
#head_2 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
#gall_2 #head_2{
  position: absolute;
  top: 154%;
  left: 52%;
}
#head_2 h1{
  font-size: 25px;
  font-family: serif;
}
#head_2 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_2 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ---------------------------------------- */
#gall_3 img{
  width: 475px;
  height: 400px;
  position: absolute;
  left: 15%;
  top: 215%;
}
#gall_3 #head_3{
  position: absolute;
  top: 274%;
  left: 15%;
}
#head_3 h1{
  font-size: 25px;
  font-family: serif;
}
#head_3 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_3 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ---------------------4-------------------------- */
#gall_4 img{
  width: 470px;
  height: 700px;
  position: absolute;
  top: 170%;
  left: 52%;
}
#gall_4 #head_4{
  position: absolute;
  top: 274%;
  left: 52%;
}
#head_4 h1{
  font-size: 25px;
  font-family: serif;
}
#head_4 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_4 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ----------------------5----------------------- */
#gall_5 img{
  width: 470px;
  height: 700px;
  position: absolute;
  top: 293%;
  left: 15%;
}
#gall_5 #head_5{
  position: absolute;
  top: 396%;
  left: 15%;
}
#head_5 h1{
  font-size: 25px;
  font-family: serif;
}
#head_5 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_5 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ------------------6------------------------------- */
#gall_6 img{
  width: 475px;
  height: 400px;
  position: absolute;
  left: 52%;
  top: 293%;
}
#gall_6 #head_6{
  position: absolute;
  top: 352%;
  left: 52%;
}
#head_6 h1{
  font-size: 25px;
  font-family: serif;
}
#head_6 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_6 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ------------------------7------------------------- */
#gall_7 img{
  width: 475px;
  height: 400px;
  position: absolute;
  left: 52%;
  top: 371%;
}
#gall_7 #head_7{
  position: absolute;
  top: 431%;
  left: 52%;
}
#head_7 h1{
  font-size: 25px;
  font-family: serif;
}
#head_7 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_7 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ------------8--------------------- */
#gall_8 img{
  width: 474px;
  height: 400px;
  position: absolute;
  left: 15%;
  top: 415%;
}
#gall_8 #head_8{
  position: absolute;
  top: 474%;
  left: 15%;
}
#head_8 h1{
  font-size: 25px;
  font-family: serif;
}
#head_8 h3{
  font-size: 20px;
  font-family: system-ui;
  font-weight: 400;
  margin-top: -10px;
}
#head_8 img{
  width: 65px;
  height: 66px;
  position: absolute;
  left: 207%;
  top: 15%;
}
/* ------PAGINATION----------------------- */
.pagination {
  position: absolute;
  top: 500%;
  left: 42%;
  display: flex;
  gap:30px;
}
.foo{
  margin-top: 260px;
  position: absolute;
  top: 492%;
}
#pagi_vect{
  width: 53px;
    height: 50px;
}
/* --------BLOG-PAGE------------------------------------ */
.Blog_banner{
  background: url('img/Blog_Banner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 360px;
  margin-top: 50px;
}
 #blog_h{  
  margin-left: 185px;
  font-family: serif;
  font-size: 45px;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
  margin-top: 110px;
}

.latest{
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest_post{
  display: flex;
  width: 1020px;
  gap: 40px;
  margin-left: 25px;
}
.latest_post img{
  width: 500px;
  height: 430px;
  border-radius: 50px;
}
.late{
  margin-left: 18px;
}
.late h1{
  font-size: 25px;
  font-family: serif;
  width: 460px;
  margin-top: 70px;
  letter-spacing: 0.5px;
}
.late p{
  font-size: 20px;
  font-family: system-ui;
  width: 425px;
}
#span{
 margin-top: 10px;
}
#blog_vect{
  width:50px;
  height:50px;
  position: relative;
  top: -13%;
  left: 85%;
}
/* ----------NEWS----------------------------- */
.news{
  margin-top: 150px;
}

.news h1{
  font-family: serif;
  font-size: 45px;
  margin-left: 160px;
  margin-bottom:40px;
}
.art_news{
  width: 330px;
  height: 485px;
}
.art_news img{
  width: 290px;
}
.bb{
  margin-left: 50px;
  gap:40px;
}
.B2{
  margin-left: 12px;
}
.B3{
  margin-left:-15px ;
}
/* ---------------------page-------------------------- */
.page{
  position: relative;
    margin-top: 80px;
    left: 41%;
}
#nxt{
  width: 55px;
  height: 52px;
}
/* ------foot------------- */
#foooo{
  margin-top: 230px;
}
/* ---------------CONTACT-------------------------- */
.contact_bann{
  background: url('img/contact_bann.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 360px;
  margin-top: 50px;
}
.contact_banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_banner h1{
  font-size: 42px;
  font-family: serif;
  width: 570px;
  text-align: center;
  margin-top: 70px;
}
.contact_form{
  display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: -8px;
    margin-top: 50px;
}
.mail{
  background: #F4F0EC;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 70px;
    padding-top: 10px;
    border-radius: 50px;
}
.mail h3{
  margin-bottom: 10px;
  font-family: system-ui;
    font-weight: 400;
    font-size: 19px;
    padding-left: 30px;
    margin-top: 0px;
    position: relative;
    top: 5%;
    left:3%;
}
.mail img{
  width: 50px;
  height: 50px;
}
#mail{
  position: relative;
  top: 17%;
  left: 6%;
}
.ct_frm{
  margin-top: -60px;
    width: 570px;
}
.inp_2{
  padding-top: 50px;
}
.mail #icon{
  position: relative;
    top: 17%;
    left: 14%;
}
.button{
  height: 50px;
}
/* ------------map------------------- */
.map{
  display: flex;
    justify-content: center;
    margin-top: 160px;
}
.map img{
  height: 450px;
}
/* ---------------footer------------- */
.foot_foo{
  position: relative;
  margin-top: 210px;
}